<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.flutter_rust_bridge.frsr_flutter">
    
    <!-- Support for 16 KB page sizes -->
    <supports-screens android:anyDensity="true" />
    
    <application android:extractNativeLibs="true">
        <!-- Support for 16 KB page sizes -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="frsr_flutter" />
    </application>
</manifest>
